#close{
  position: absolute;
  top:30px;
  left:40px;
}

#progress-bar{
  width: 80%;
  margin: 33px 10% 0 10%;
  height: 8px;
  background-color: #F1F1F1;
  border-radius: 50px;
}

#actual-progress{
  width: 0%;
  height: 100%;
  background-color: #F9D649;
  border-radius: 50px;
  transition: 0.4s;
}

.button{
  display: block;
  height: 40px;
  width: 300px;
  border-radius: 10px;
  margin: 30px auto 0 auto;
  background-color: #32CDFF;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  border: none;
}

.button:hover{
  background-color: #60C1ED;
}


body{
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.card {
  display: block;
  transition: 0.4s;
  margin: 30px 0;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 50px 20px;
  height: 200px;
  width: 250px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
}


#deck-container{
  padding: 0 5%;
  display: block;
  white-space: nowrap;
  overflow: scroll;
} 

#deck-container .card{
  display: inline-block;
  margin-right: 30px;
}

#form{
  padding: 0 5%;
}

.form-wrapper{
  display: block;
  margin: 0 auto;
  height: auto;
  width: fit-content;
}

.label-word{
  font-size: 0.875em;
  display: inline-block;
  margin: 20px 0 10px 0px;
  white-space: pre-wrap;
  color: #333;
}

.input-word{
  font-size: 1.125em;
  display: block;
  white-space: pre-wrap;
  border-radius: 5px;
  border: 2px solid #60C1ED;
  color: #333;
  height: 30px;
  width: 280px;
  padding: 5px 10px;
}

.card-image{
  border-radius: 10px;
}

.card-title{
  font-size: 2em;
}

.card-image{
  margin-bottom: 15px;
}

.translated-word{
  font-size: 2em;
  line-height: 1.2em;
  padding: 30% 0;
}

.translating-word{
  font-size: 2em;
  line-height: 1.2em;
  
}

.card-back{
  transform: rotateY(180deg);
}

.rotated{
  transform: rotateY(180deg);
}

.isHidden{
  display: none;
}



/*.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}*/
